//{
//  "parser": "babel-eslint",
//  "extends": [
//    "airbnb",
//    "plugin:react/recommended"
//  ],
//  "env": {
//    "browser": true,
//    "node": true,
//    "jest": true,
//    "es6": true
//  },
//  "plugins": [
//    "redux-saga",
//    "react",
//    "jsx-a11y"
//  ],
//  "parserOptions": {
//    "ecmaVersion": 6,
//    "sourceType": "module",
//    "ecmaFeatures": {
//      "jsx": true
//    }
//  },
//  "rules": {
//    "no-param-reassign": "off",
//    "function-paren-newline": "off",
//    "arrow-parens": [
//      "error",
//      "always"
//    ],
//    "arrow-body-style": [
//      2,
//      "as-needed"
//    ],
//    "comma-dangle": [
//      "error",
//      "only-multiline"
//    ],
//    "import/no-extraneous-dependencies": 0,
//    "import/prefer-default-export": 0,
//    "indent": [
//      2,
//      4,
//      {
//        "SwitchCase": 1
//      }
//    ],
//    "max-len": 0,
//    "no-console": 1,
//    "react/forbid-prop-types": 0,
//    "react/jsx-curly-brace-presence": "off",
//    "react/jsx-first-prop-new-line": [
//      2,
//      "multiline"
//    ],
//    "react/jsx-filename-extension": 0,
//    "react/require-default-props": 0,
//    "react/self-closing-comp": 0,
//    "redux-saga/no-yield-in-race": 2,
//    "redux-saga/yield-effects": 2,
//    "jsx-a11y/anchor-is-valid": 0
//  },
//  "settings": {
//    "import/resolver": {
//      "webpack": {
//        "config": "./config/webpack.prod.babel.js"
//      }
//    }
//  }
//}
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-undef": "off",
    "import/no-extraneous-dependencies" : "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "object-curly-spacing": 0,
    "prop-types": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "quotes": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-parens": 0,
    "no-trailing-spaces": 1,
    "max-len": ["error", { "code": 120}],
    "class-methods-use-this": 0,
    "jsx-quotes": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "func-names": 0,
    "no-param-reassign": 0,

    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-wrap-multilines": 0,
    "react/require-default-props": 0,
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-no-bind": [2, { "ignoreRefs": true, "allowArrowFunctions": false, "allowFunctions": false, "allowBind": false }],
    "react/jsx-boolean-value": 0,


    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0
  }
}

